<template name="insumos">
  <div class="container">
    <div class="row">
      <div class="col s3 left"></div>
      <div class="logo col s6"></div>
      <div class="col s3 right"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn" href="/">INICIO</a>
        <a class="waves-effect waves-light btn" href="/producciones">Ver Producciones</a>
        <a class="waves-effect waves-light btn" href="/stock">Controlar Stock</a>
        <h3>Carga de Bloques</h3>
      </div>
    </div>
    {{> form}}
  </div>
</template>

<template name="form">
  <div class="row">
    <div class="col s12">
      <label class="active" for="bloque">Nombre Del Bloque</label>
      <input {{b "value: nombreBloque"}} placeholder="Nombre del bloque..." id="bloque" type="text" >
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="poliol">Poliol</label>
      <input {{b "value: poliol"}} placeholder="Cantidad de Poliol..." id="poliol" type="text" >
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="copolimero">Copolimero</label>
      <input {{b "value: copolimero"}} placeholder="Cantidad de Copolimero..." id="copolimero" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="cloruro">Cloruro</label>
      <input {{b "value: cloruro"}} placeholder="Cantidad de Cloruro..." id="cloruro" type="text" >
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="tdi">TDI</label>
      <input {{b "value: tdi"}} placeholder="Cantidad de TDI..." id="tdi" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="amina">Amina</label>
      <input {{b "value: amina"}} placeholder="Cantidad de Amina..." id="amina" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="silicona595">Silicona 595</label>
      <input {{b "value: silicona595"}} placeholder="Cantidad de Silicona 595..." id="silicona595" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="silicona585">Silicona 585</label>
      <input {{b "value: silicona585"}} placeholder="Cantidad de Silicona 585..." id="silicona585" type="text"
                                     class="validate">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label class="active" for="T9">T9</label>
      <input {{b "value: T9"}} placeholder="Cantidad de T9..." id="T9" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a class="waves-effect waves-light btn" {{b "click: crearBloque"}}>Crear Bloque</a>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn" {{b "click: reset"}}>Limpiar Formulario</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="section">
        <h5>Listado de Bloques</h5>
      </div>
      <table class="striped">
        <thead>
        <tr>
          <th>Nombre del Bloque</th>
          <th>Poliol</th>
          <th>Copolimero</th>
          <th>Cloruro</th>
          <th>TDI</th>
          <th>Amina</th>
          <th>Silicona 595</th>
          <th>Silicona 585</th>
          <th>T9</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each bloques}}
          {{> bloque}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="bloque">
  <tr>
    <td>{{this.tipoDeBloque}}</td>
    <td>{{this.poliol}}</td>
    <td>{{this.copolimero}}</td>
    <td>{{this.cloruro}}</td>
    <td>{{this.tdi}}</td>
    <td>{{this.amina}}</td>
    <td>{{this.silicona595}}</td>
    <td>{{this.silicona585}}</td>
    <td>{{this.T9}}</td>
    <td><a class="waves-effect waves-light btn" {{b "click: eliminar"}}>Eliminar</a></td>
    <td><a class="waves-effect waves-light btn blue" {{b "click: modificar"}}>Modificar</a></td>
  </tr>
</template>