@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
.logo {
  background-image: url("images/logo.png");
  margin: 0 auto;
  background-size: 100%;
  height: 180px;
}
.left,.right {
  height: 100px;
}
.container {
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #D0D0D0;
  box-shadow: 4px 5px 10px #BFBFBF;
}
li {
  font-size: 18px;
}
li span {
  color: orangered;
}

div.red {
  color: red;
}

div.oculto {
  display: none;
}

div.soloLectura {

}

a.oculto {
  display: none;
}

input:read-only {
  color: gray;
  font-style: italic;
}