<template name="home">
  <head>
    <title>La Bella</title>
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col s3 left"></div>
      <div class="logo col s6"></div>
      <div class="col s3 right"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn" href="/insumos">CARGAR BLOQUES</a>
        <a class="waves-effect waves-light btn" href="/producciones">Ver Producciones</a>
        <a class="waves-effect waves-light btn" href="/stock">Controlar Stock</a>
        <h3>Control de Producción</h3>
      </div>
      {{#if hayBloques}}
        {{> main}}
      {{else}}
        <div class="col s12 red-text">
          No hay ningún bloque creado aún. Primero debe cargar los bloques. Después podrá cargar las producciones
            por fecha y cantidad.
        </div>
      {{/if}}
    </div>
  </div>
  </body>
</template>

<template name="main">

    <div class="col s12" {{b "class: {oculto: !viendoDetalle}"}}>
      <h4> Detalle bloque <span {{b "text: tipoBloqueDetalle"}}></span> - Fecha: {{formatDate fechaDetalle}}</h4>
      <ul>
        <li>CANTIDAD DE BLOQUES PRODUCIDOS: <span {{b "text: cantidadDetalle"}}></span></li>
        <li>-------------------------------</li>
        <li>Componentes utilizados:</li>
        <li>Poliol: <span {{b "text: poliol"}}></span> kg</li>
        <li>Copolimero: <span {{b "text: copolimero"}}></span> kg</li>
        <li>Cloruro: <span {{b "text: cloruro"}}></span> kg</li>
        <li>TDI: <span {{b "text: tdi"}}></span> kg</li>
        <li>Amina: <span {{b "text: amina"}}></span> kg</li>
        <li>Silicona 595: <span {{b "text: silicona595"}}></span> kg</li>
        <li>Silicona 585: <span {{b "text: silicona585"}}></span> kg</li>
        <li>T9: <span {{b "text: T9"}}></span> kg</li>
      </ul>
    </div>
    <div class="col s6" {{b "class: {oculto: !viendoDetalle}"}}>
      <a class="waves-effect waves-light btn" {{b "click: salirDetalle"}}>Volver</a>
    </div>
    <div class="col s6" {{b "class: {oculto: viendoDetalle}"}}>
      Bloques:
      <select
          class="browser-default" {{b "options: tiposDeBloque, optionsValue: tipoDeBloque, optionsText: tipoDeBloque, value: bloqueSeleccionado, defaultText: textoPorDefecto"}}>
      </select>
    </div>
    <div class="col s12" {{b "class: {oculto: viendoDetalle}"}}>
      <h5>Configuración actual de compuestos para <span {{b "text: bloqueSeleccionado" }}></span></h5>
      <ul>
        {{#each insumos}}
          <li>Poliol: <span {{b "text: this.poliol"}}></span> kg</li>
          <li>Copolimero: <span {{b "text: this.copolimero"}}></span> kg</li>
          <li>Cloruro: <span {{b "text: this.cloruro"}}></span> kg</li>
          <li>TDI: <span {{b "text: this.tdi"}}></span> kg</li>
          <li>Amina: <span {{b "text: this.amina"}}></span> kg</li>
          <li>Silicona 595: <span {{b "text: this.silicona595"}}></span> kg</li>
          <li>Silicona 585: <span {{b "text: this.silicona585"}}></span> kg</li>
          <li>T9: <span {{b "text: this.T9"}}></span> kg</li>
        {{/each}}
      </ul>
      <p>
        <input type="text" {{b "value: cantidad"}} placeholder="Ingrese cantidad producida..." id="cantidad"/>
      </p>
      <p>
        <input type="date" {{b "value: fecha"}} class="datepicker" placeholder="Ingrese la fecha..." id="fecha"/>
      </p>
      <a class="waves-effect waves-light btn" {{b "click: crearProduccion"}}>Cargar</a>
    </div>
  <div class="col s12">
    <div class="section">
      <h5>Listado</h5>
    </div>
    <p>
      <input type="date" {{b "value: fechaFiltro"}} class="datepicker" placeholder="SELECCIONE FECHA PARA BUSCAR..."/>
    </p>
    <p>
      <a class="waves-effect waves-light btn" {{b "click: traerTodos"}}>Buscar Todos Los Registros</a>
    </p>
    <table class="striped">
      <thead>
      <tr>
        <th>Bloque Producido</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      {{#each producciones}}
        {{> item}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="item">
  <tr>
    <td>{{this.tipoDeBloque}}</td>
    <td>{{formatDate this.fechaProduccion}}</td>
    <td>{{this.cantidad}}</td>
    <td><a class="waves-effect waves-light btn" {{b "click: verDetalle"}}>Ver Detalle</a>
      <a class="waves-effect waves-light btn" {{b "click: eliminar"}}>Eliminar</a></td>
  </tr>
</template>
