<template name="producciones">
  <head>
    <title>La Bella</title>
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col s3 left"></div>
      <div class="logo col s6"></div>
      <div class="col s3 right"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn" href="/">INICIO</a>
        <a class="waves-effect waves-light btn" href="/insumos">CARGAR BLOQUES</a>
        <a class="waves-effect waves-light btn" href="/stock">Controlar Stock</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h3>Buscar producciones por rango de fechas:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>
          <label class="active" for="fecha1">Fecha de Inicio</label>
          <input type="date" name="fecha1" {{b "value: fechaInicio, change: limpiarResultados"}} class="datepicker" placeholder="Seleccione primer Fecha..."/>
        </p>
      </div>
      <div class="col s6">
        <p>
          <label class="active" for="fecha2">Fecha de Fin</label>
          <input type="date" name="fecha2" {{b "value: fechaFin, change: limpiarResultados"}} class="datepicker" placeholder="Seleccione segunda Fecha..."/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <a class="waves-effect waves-light btn" {{b "click: calcularProduccion"}}>Calcular Produccion</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4>
          Compuestos utilizados en Kilogramos
        </h4>
        <h5>Entre las fechas de <span {{b "text: fechaInicio" }}></span> y <span {{b "text: fechaFin" }}></span>:</h5>
        <ul>
          <li>Poliol: <span {{b "text: poliol"}}></span> kg</li>
          <li>Copolimero: <span {{b "text: copolimero"}}></span> kg</li>
          <li>Cloruro: <span {{b "text: cloruro"}}></span> kg</li>
          <li>TDI: <span {{b "text: tdi"}}></span> kg</li>
          <li>Amina: <span {{b "text: amina"}}></span> kg</li>
          <li>Silicona 595: <span {{b "text: silicona595"}}></span> kg</li>
          <li>Silicona 585: <span {{b "text: silicona585"}}></span> kg</li>
          <li>T9: <span {{b "text: T9"}}></span> kg</li>
        </ul>
      </div>
    </div>
  </div>
  </body>
</template>