<template name="stock">
  <head>
    <title>La Bella</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col s3 left"></div>
      <div class="logo col s6"></div>
      <div class="col s3 right"></div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn" href="/">Inicio</a>
        <a class="waves-effect waves-light btn" href="/insumos">CARGAR BLOQUES</a>
        <a class="waves-effect waves-light btn" href="/producciones">Ver Producciones</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h3>Stock Actual</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12">
            <label class="active" for="poliol">Poliol</label>
            <input {{b "value: poliol, readonly: readOnly"}} placeholder="Cantidad de Poliol..." id="poliol" type="text" >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="copolimero">Copolimero</label>
            <input {{b "value: copolimero, readonly: readOnly"}} placeholder="Cantidad de Copolimero..." id="copolimero" type="text"
                                             >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="cloruro">Cloruro</label>
            <input {{b "value: cloruro, readonly: readOnly"}} placeholder="Cantidad de Cloruro..." id="cloruro" type="text" >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="tdi">TDI</label>
            <input {{b "value: tdi, readonly: readOnly"}} placeholder="Cantidad de TDI..." id="tdi" type="text" >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="amina">Amina</label>
            <input {{b "value: amina, readonly: readOnly"}} placeholder="Cantidad de Amina..." id="amina" type="text" >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="silicona595">Silicona 595</label>
            <input {{b "value: silicona595, readonly: readOnly"}} placeholder="Cantidad de Silicona 595..." id="silicona595" type="text"
                                              >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="silicona585">Silicona 585</label>
            <input {{b "value: silicona585, readonly: readOnly"}} placeholder="Cantidad de Silicona 585..." id="silicona585" type="text"
                                              >
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label class="active" for="T9">T9</label>
            <input {{b "value: T9, readonly: readOnly"}} placeholder="Cantidad de T9..." id="T9" type="text" >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <a class="waves-effect waves-light btn" {{b "class: {oculto: estaModificando}, click: habilitar"}}>Editar</a>
      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn" {{b "class: {oculto: !estaModificando}, click: actualizar(_id)"}}>Actualizar Stock</a>
      </div>
    </div>
    </div>
  </body>
</template>